@page {
  box-sizing: border-box;
  size: auto;
  margin: 0;
}

@media print {
table {
    // page-break-inside: avoid;
    // page-break-after: avoid;
    // page-break-before: avoid;
    background-color: #cccccc;
    margin-top: 10px;
    border-collapse: collapse;
    color: #454545;
    text-align: center;
    border: 1px solid;
    width: 1200px;
    box-sizing: border-box;
    thead {
      border: 1px solid;
      // border-bottom: 0;
      line-height: 40px;
      font-weight: bold;
    }

    th {

    border: 1px solid;
    line-height: 40px;
    // border-bottom: 0;
    }

    tr {
      // page-break-inside: avoid;
      border: 1px solid;
      line-height: 23px;
    }

    td {
      padding: 5px 10px;
      border: 1px solid;
      font-size: 14px;
      width: 100%;
      word-break: break-all; // 元素换行
    }
  
  }

  .dialog-header {
    display: flex;
    justify-content: center;
    position: relative;

    .companyNmae {
      font-size: 18px;
    }

    
  }
 #printMe .el-table__header{
    margin: top 10px;;
  }
  .el-table__body{
    margin-top: 0px;
  // style="page-break-before:always; page-break-after: always"
  .el-table__row{
    // page-break-before: always;
    // page-break-after: always
  }
  }
}
